<h1>Lista de Agendamentos</h1>

{{#each posts}}
    <table border="1">
        <thead>
            <tr>
                <th>Nome do cliente</th>
                <th>Pet</th>
                <th>Tipo de Serviço</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Data</th>
                <th>Hora</th>
            </tr>
        </thead>
        <a>
            <tr>
                <td>{{nome_cliente}}</td>
                <td>{{nome_pet}}</td>
                <td>{{tipo_servico_cliente}}</td>
                <td>{{email_cliente}}</td>
                <td>{{tel_cliente}}</td>
                <td>{{data_agenda}}</td>
                <td>{{hora_agenda}}</td>
                <a href="/deletar/{{pk_agenda}}"><button>Excluir</button></tr></a>
            </tr>
        </tbody>
    </table>
{{/each}}
